/Library
/Library*
/AssetBundles
/Temp
/CM_OutPut
/.vs
/*.sln
/*.apk
/*.aab
/*.csproj
/KZombie.*
/obj
/.vscode
/gamedata
/rubbish
/ProjectSettings/ProjectVersion.txt
/StreamingAssets
/临时资源存放/模型动作相关/Game/SpectromancerGatheringOfPower_chs/双击运行.exe
/Assets/TPlugins/NavMesh/Examples/Prefabs/DungeonTiles/*.*

/Assets/_TerrainAutoUpgrade.meta
/*.vsconfig
/garbage
/ssd
/app
/Assets/Bakery
/Assets/Editor/x64